<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Zoom room opens</td> </tr>
      <tr> <td>09:15</td>  <td>Start - Introduction to the workshop, instructors, helpers, and code of conduct. </td> </tr> 
      <tr> <td>09:30</td> <td> <a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></td></tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>11:05</td> <td> <a href="https://swcarpentry.github.io/shell-novice/03-create/index.html">The Unix Shell (Continued)</a></td></tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td> <td> <a href="https://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">Automating Tasks with the Unix Shell</a></td></tr>
      <tr> <td>14:20</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:40</td> <td> <a href="https://swcarpentry.github.io/shell-novice/05-loop/index.html">Automating Tasks with the Unix Shell (Continued)</a></td></tr>
      <tr> <td>15:10</td> <td> <a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td></tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td> <td> <a href="https://swcarpentry.github.io/git-novice/">Version Control with Git (Continued)</a></td></tr>
      <tr> <td>10:20</td>  <td>Morning break</td> </tr>
      <tr> <td>10:40</td>  <td> <a href="https://swcarpentry.github.io/git-novice/">Version Control with Git (Continued)</a></td></tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a></td></tr>
      <tr> <td>14:20</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:40</td>  <td> <a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python (Continued)</a></td></tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
